canvas { 
	border: 1px solid black;
}

#btn-chat-settings {
	color: #00796b;
}

.chat-entry {
	margin-bottom: 0;
}

.chat-profile-pic {
	height: 25px;
}

span.chat-profile-name {
	font-weight: bold;
	padding-left: 5px;
}

span.chat-entry-message {
	padding-left: 8px;
	word-break: break-all;
}

#chat-screen {
	height: 300px;
	padding: 10px;
	overflow-y: hidden;
}

#chat-screen:hover {
	overflow-y: auto;
}

#container-chat-send-btn {
	text-align: right;
}

#container-runner-input {
	padding-left: 0;
}

#pane-left {
	
}

#votes-list {
	min-height: 300px;
}


